
@{
    ViewData["Title"] = "ExternalTools";
}

<h2>External Tools</h2>
<p>
    Some of the best random generators for roleplay found online.
</p>

<ul>
    <li><a href="http://donjon.bin.sh/">http://donjon.bin.sh/</a> (expansive collection of all sorts)</li>
</ul>

<p>NPC</p>
<ul>
    <li><a href="http://generate.karinoyo.com/character/">http://generate.karinoyo.com/character/</a>    (appearance and personality)</li>
    <li><a href="https://www.roleplayingtips.com/one-sentence-npc-generator/">https://www.roleplayingtips.com/one-sentence-npc-generator/</a>    (one paragraph npc inspiration)</li>
    <li><a href="http://www.springhole.net/writing_roleplaying_randomators/charactergens.htm">http://www.springhole.net/writing_roleplaying_randomators/charactergens.htm</a>    (a number of isolated generators)</li>
    <li><a href="http://scott.maclure.info/character-traits/">http://scott.maclure.info/character-traits/</a>    (few liner)</li>
</ul>

<p>Encounter (DnD 5e)</p>
<ul>
    <li><a href="http://donjon.bin.sh/5e/random/#type=encounter">http://donjon.bin.sh/5e/random/#type=encounter</a></li>
    <li><a href="http://tools.goblinist.com/5enc">http://tools.goblinist.com/5enc</a></li>
</ul>